body{
    background-color:pink;
}

nav{
    text-transform: uppercase;
    font-family:  PT Sans Narrow;
    font-weight: Bold;
}
.nav-link:hover{
    font-style: Italic;
    background-color: purple;
}
header {
    height:600px;
    width:100%;
    background-image: url("family3.jpg");

    background-size:cover;
    font-family: 'Roboto', sans-serif;
    text-align:center;
}
.services i {
    font-size: 30px;
    padding:  12px 14px;
    
    color: #709963;
    background-color: #709963;
    
    width: 80px;
    height: 80px;
    border-radius:  50%;
    
}